<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ical.Net" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NodaTime" version="3.0.9" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="SimpleInjector" version="5.3.2" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net48" />
</packages>